{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ post.title | title }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock  %}

{% block content %}
    <section id="summary">
        <h2>{{ post.title | title }}</h2>
        <div>
            {% for tag in tags %}
            <span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <address>By <a href="mailto:{{ post.author.email }}">{{ post.author }}</a></address>
            <div>
                Last updated on <time>{{ post.date | date:"d M Y" }}</time>
            </div>
        </article>
    </section>

    <main>
        <div id="read-later">
            {% if is_read_later %}
                <p>Marked as read later.</p>
            {% else %}
                <form action="/posts/read-later/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="hidden" name="post_slug" value="{{ post.slug }}">
                    <button>Read later</button>
                </form>
            {% endif %}
        </div>
        {{ post.content | linebreaks }}
        <h2>Comments</h2>
        <ul>
            {% for comment in comments %}
            <li>
                {{ comment.name }}: {{ comment.text }}
            </li>
            {% endfor %}
        </ul>
    </main>
    <div>
        <h2>Leave a comment</h2>
        <form action="/posts/comment/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="post_id" value={{ post.id }}>
            <input type="hidden" name="post_slug" value={{ post.slug }}>
            <input type="text" name="name" >
            <input type="text" name="comment" >
            <button>Comment</button>
        </form>
    </div>
    {% endblock %}